/* Write your CSS here */
.about-container-light-mode {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}

.about-container-dark-mode {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  flex-direction: column;
}

.about-image {
  height: 200px;
}
